@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
ul {
  list-style: none;
}


#headerNav {
  width: 100%;
  padding: 0.5% 0% 0.5% 0%;
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 10px 40px;
}
.btn-menu {
  width: 56px;
  height: 56px;
  font-size: 30px;
  color: #000;
  cursor: pointer;
  float: right;
  text-align: center;
  line-height: 56px;
}
.btn-close {
  float: right;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  width: 56px;
  height: 56px;
  line-height: 56px;
}
.btn-close:hover {
  color: #fff;
}
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff4129;
  display: none;
}
.menu ul {
  text-align: center;
  width: 100%;
  float: left;
}
.menu li {
  padding: 3%;
}
.menu li a {
  color: #fff;
  font-size: 1.5em;
  padding: 1.5% 3%;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
}
.logo {
  width: 200px;
  height: 50px;
  float: left;
  font-size: 25px;
  color: #000;
  font-weight: 600;
  line-height: 56px;
}

/*Header pages*/
header {
  margin-top: 75px;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 100px;
}
header section article h4 {
  color: #ff4129;
  font-weight: 600;
  font-size: 35px;
}
header section article h1 {
  padding-top: 10px;
  font-size: 25px;
  font-weight: 700;
}
header p {
  width: 75%;
  padding-top: 50px;
  color: #4d4d4d;
  font-weight: 300;
}
header section {
  width: 50%;
}
header section img {
  width: 600px;
}

  
}
/*First section*/
.couch{
  color: red;
  text-decoration: underline;
  font-size: 3rem;
    justify-content: center;
    text-align: center;
    margin: auto;
  
}
#cards img{
  height: 200px;
  width: 220px;
}
#cards {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#cards div {
  display: flex;
  height: auto;
  padding: 30px 20px;
  flex-wrap: wrap;
}
#cards article {
  text-align: center;
  height: auto;
  background-color: #f8f8f8;
  padding: 25px;
  border-radius: 15px;
  margin: auto 22px;
  margin-bottom: 100px;
  flex-basis: 250px;
  flex-grow: 1;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
  transition: all 0.5s;
}
#cards article:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 0px rgba(24, 24, 24, 0.158);
}
#cards article h1 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  color: #ff4129;
}
#cards article p {
  font-size: 14px;

  color: #4d4d4d;
  font-weight: 300;
}

/*Second section*/
#sobre {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 40px;
}
#sobre #sobreNos {
  width: 50%;
}
#sobre article img {
  width: 700px;
}
#sobre #imgSobre {
  width: 50%;
}
#sobre #sobreNos {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 50px 50px 0px 50px;
}
#sobre #sobreNos #headSobre p {
  padding: 20px 0px;
  font-weight: 200;
}
#sobre #sobreNos #headSobre h2 {
  font-size: 30px;
  font-weight: 600;
}
#sobre #sobreNos #headSobre h3 {
  font-weight: 600;
  color: #ff4129;
  font-size: 18px;
}
#sobre #sobreNos #infoSobre article h4 {
  font-size: 18px;
}

#sobreNos #infoSobre article {
  float: left;
  width: 50%;
  height: 150px;
  margin-bottom: 5px;
  padding-bottom: 30px;
}
#sobreNos #infoSobre article:nth-child(1),
#sobreNos #infoSobre article:nth-child(3) {
  padding-right: 10px;
}
#sobreNos #infoSobre article:nth-child(2),
#sobreNos #infoSobre article:nth-child(4) {
  padding-left: 10px;
}
#sobreNos #infoSobre article p {
  color: #7d7d7d;
  font-size: 14px;
}
#sobreNos #infoSobre {
  margin-top: 20px;
}
#sobreNos #infoSobre article div {
  width: 75px;
  float: left;
  height: 100%;
  overflow: hidden;
}

#sobreNos #infoSobre img {
  width: 50px;

  float: left;
}

/*Terceira seção*/
#portfolio {
  margin-top: 50px;
  padding: 25px 20px;
  text-align: center;
}
#portfolio h2 {
  font-size: 30px;
  font-weight: 600;
}
#portfolio img{
  height: 200px;
  width: 200px;
}
#portfolio p {
  color: #4d4d4d;
  font-weight: 300;
}
#portfolio div {
  display: flex;
  height: auto;
  padding: 30px 0px;
  flex-wrap: wrap;
}
#portfolio article {
  position: relative;
  height: 250px;
  background-color: #f8f8f8;
  border-radius: 15px;
  margin: 20px;
  flex-basis: 250px;
  flex-grow: 1;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
  transition: all 0.5s;
}
#portfolio article:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 0px rgba(24, 24, 24, 0.158);
}
#portfolio article img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Quarta seção*/
#servicos {
  padding: 50px 40px 100px 40px;
  text-align: center;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#servicos h2 {
  padding-bottom: 75px;
  font-size: 28px;
  font-weight: 600;
}
#servicos section .flexBoxs {
  text-align: left;
  height: auto;
  background-color: #f8f8f8;
  padding: 20px 20px 0px 20px;
  border-radius: 15px;
  margin: 20px 0px;
  width: auto;
  max-width: 350px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
  transition: all 0.5s;
}
#servicos section .flexBoxs:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 0px rgba(24, 24, 24, 0.158);
}
#servicos section .flexBoxs img {
  margin-top: 5px;
  float: left;
  width: 20%;
}
#servicos section .flexBoxs div {
  float: left;
  width: 80%;
  padding-left: 5px;
}
#servicos section .flexBoxs h3 {
  font-size: 18px;
  font-weight: 600;
}
#servicos section .flexBoxs p {
  font-size: 14px;
  font-weight: 300;
}
#servicos section .separarBoxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#servicos section .boxsFrente {
  margin-left: 30px;
  margin-right: 30px;
}

/*Animation*/
#servicos .teste {
  width: 500px;
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
@keyframes MoveUpDown {
  0%,
  100% {
    top: 27%;
  }
  50% {
    top: 33%;
  }
}

/* HOME KA HEADER */
#home h4{
  font-size: 4rem;
}

/*Scroll*/
.scrollTop {
  position: fixed;
  right: 40px;
  bottom: 20px;
  background-color: #dd3721;
  padding: 15px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
  border-radius: 10%;
  z-index: 999;
}
.scrollTop i {
  font-size: 22px;
  color: #fff;
}

/**/
input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 16px;
  border: 1px solid #838383;
  margin-bottom: 15px;
}
textarea {
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 16px;
  border: 1px solid #838383;
}
.modal-body p {
  margin-bottom: 5px;
}

/**/
.btn-cor {
  background-color: #ff4129;
  color: #fff;
}
.btn-cor:hover {
  background-color: #e63c26;
  color: #fff;
}

/*Footer*/
.site-footer {
  background-color: #ff4129;
  padding: 75px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}
.site-footer hr {
  border-top-color: #fff;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #fff;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #fff;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 30px;
  }
  .scrollTop {
    display: none;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
    text-align: center;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #ff4129;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
    text-align: center;
  }
}
#home section img{
  width: 500px;
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  top: 0;
  right: 25px;
  transform: translate(-50%, 0%);
}


